html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  z-index: -2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    #background: black;
  }
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2') format('woff2'),
  url('/fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff') format('woff'),
  url('/fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
